* {
  color: white;
  font-size: 18px;
  box-sizing: border-box;
}

.k1 {
  display: flex;
  width: 800px;
  height: 250px;
  gap: 20px;
}

.k2 {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  flex: 1;
}

.k3 {
  background: #00615e;
  padding: 25px;
  flex: 1;
}
